<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <head>
        <title>Fetch using MySQL and Node.js</title>
      </head>
      <body>
        <header>
            <h2 style="font-size: 80px; text-align: center;" >Welcome to School Database</h2>
        </header>
<%- include('../includes/end.ejs') %>